<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.320</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.LegacySecurityRealm"/>
  <jdks/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
</hudson>
